{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'chatbotapp/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'chatbotapp/jquery-3.7.0.min.js' %}" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script> -->


</head>
<body>

    <h1> Chatbot App </h1>

    <div>
        <div id="chatbot">
            <p class="botText"><span>Hi How There</span></p>
        </div>

        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type Your Message...">
            <input type="submit" id="buttonInput" value="Send">
        </div>
    </div>

    <script>
        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHtml = "<p class='userText'> User : <span>"+userText+"</span></p>";
            $('#textInput').val("");
            $('#chatbot').append(userHtml);

            $.get('/chatbot/getResponse',{userMessage:userText}).done(function(data){
                var returnedMessage = "<p class='botText'>Chatbot : <span>"+data+"</span></p>";
                $('#chatbot').append(returnedMessage);
            })
        }

        $('#buttonInput').click(function(){
            getUserResponse();
        })
    </script>



</body>
</html>